.MonthRigid .rigid-month-for-year {
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 220px;
    border: 2px solid pink;
}

.MonthRigid .rigid-month-for-year button {
    height: 30px;
    width: 20px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: top;
    background: white;
    border: 0.5px solid gray;
    margin: 2px;
}

.MonthRigid .rigid-month-for-year button:hover {
    background: gold;
    cursor: pointer;
    font-weight: bold;
    transition: 1s background ease-in-out;
}