.NotebookApp {
    border: 2px solid var(--purple);
    border: none;
}

.NotebookApp-one-note {
    width: 150px;
    height: 50px;
    border: 2px solid var(--bright-purple);
    margin: 10px;
    background: var(--white);
}

.NotebookApp-one-note:hover {
    cursor: pointer;
    border: 2px solid var(--sand);
}


.NotebookApp-create-new-note-btn {
    border: 2px solid var(--purple);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    background: var(--bright-purple);
    display: block;
    color: var(--white);


}

.NotebookApp-create-new-note-btn:hover {
    cursor: pointer;
    border: 2px solid var(--sand);
}

.NotebookApp-all-notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.NotebookApp-empty-block-of-space {
    height: 150px;
}

