@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}

/* system default page: Vite + React */
.AboutAndContact {
    margin: 0 auto;
    border: 2px solid gold;
    border: none;
}


.AboutAndContact-container {
    display: flex;
    width: 750px;
    justify-content: center;
    align-items: center;
    border: 2px solid deeppink;  
    border: none;
    background: whitesmoke;
    margin: 0 auto;
}

/* about and contact styles */

.about-me-note {
  width: 350px;
<<<<<<< HEAD
=======
  width: 400px;
  width: 390px;
>>>>>>> 6a1f3ae (progress-2.12pm-Feb-24-2025)
  height: 650px;
   border: 2px solid var(--medium-gray);
   border: 2px solid var(--purple);
   margin: 10px auto;

}

.about-me-note h3 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.about-me-note ul li {
    font-size: 18px;
    text-align: left;
    list-style-type: square;
    line-height: 1.75;
}


.AboutAndContact-main-li {
    font-style: italic;
}

.AboutAndContact-sub-li {
    font-style: normal;
    font-weight: bold;
}

.AboutAndContact-sub-li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.AboutAndContact-sub-li a:hover  {
    text-decoration: underline;
    
}

.AboutAndContact-main-li span {
    font-weight: bold;
}

.AboutAndContact-normal-font {
    font-family: 'Oxygen';
    font-style: normal;
}

.AboutAndContact-highlighted {
    font-family: 'Oxygen';
    font-style: normal;
    font-size: 18px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.AboutAndContact-cursive {
    font-style: italic;
    font-family: 'Benne';
    font-size: 18px;
   
}

@media screen and (max-width: 860px) {
  
    .AboutAndContact-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-note {
        width: 350px;

      }

    
  }
  
  @media screen and (max-width: 400px) {
    
    .AboutAndContact-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-note {
        width: 350px;

      }

    

    
  }