@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}

/* system default page: Vite + React */
.AboutAndContact {
    margin: 0 auto;
}


.AboutAndContact-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: 2px solid deeppink;  
    background: whitesmoke;
    margin: 0 auto;
}

/* about and contact styles */

.about-me-note {
  width: 400px;
  height: 650px;
   border: 2px solid var(--medium-gray);
   margin: 10px;

}

.about-me-note ul li {
    font-size: 18px;
    text-align: left;
    list-style-type: square;
    line-height: 1.75;
}


.AboutAndContact-main-li {
    font-style: italic;
}

.AboutAndContact-sub-li {
    font-style: normal;
    font-weight: bold;
}

.AboutAndContact-sub-li a {
    text-decoration: none;
    color: var(--black);
}
.AboutAndContact-sub-li a:hover  {
    text-decoration: underline;
    
}

.AboutAndContact-main-li span {
    font-weight: bold;
}

@media screen and (max-width: 860px) {
  
    .AboutAndContact-container {
        display: flex;
        flex-direction: column;
    }

    
  }
  
  @media screen and (max-width: 400px) {
  
    

    
  }