.AboutAndContact {
    margin: 0 auto;
    padding: 0;
    border: 2px solid gold;
    border: none;
    height: 1100px;
}


.AboutAndContact-container {
    display: flex;
    width: 750px;
    height: 1050px;
    justify-content: center;
    align-items: end;
    align-items: start;
    border: 2px solid var(--purple);
    border: none;
    background: whitesmoke;
    margin: 0 auto;
}

/* about and contact styles */

.AboutAndContact-info {
    width: 350px;
    width: 400px;
    width: 390px;
    height: 650px;
    border: 2px solid var(--medium-gray);
    border: 2px solid var(--purple);
    border: none;
    margin: 10px auto;
    padding-right: 10px;

}

.about-me-note h3 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-top: 0;
}

.about-me-note ul li {
    font-size: 18px;
    text-align: left;
    list-style-type: square;
    line-height: 1.75;
}


.AboutAndContact-main-li {
    font-style: italic;
}

.AboutAndContact-sub-li {
    font-style: normal;
    font-weight: bold;
}

.AboutAndContact-sub-li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.AboutAndContact-sub-li a:hover {
    text-decoration: underline;

}

.AboutAndContact-main-li span {
    font-weight: bold;
}

.AboutAndContact-normal-font {
    font-family: 'Oxygen';
    font-style: normal;
}

.AboutAndContact-highlighted {
    font-family: 'Oxygen';
    font-style: normal;
    font-size: 18px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.AboutAndContact-cursive {
    font-style: italic;
    font-family: 'Benne';
    font-size: 18px;

}


.AboutAndContact-info a {
    text-decoration: none;
}

.AboutAndContact-info span {
    font-weight: bold;
    font-size: 20px;
}


.AboutAndContact-info a  {
    text-decoration: none;
    color: var(--black);
}

.AboutAndContact-info a:hover  {
    text-decoration: underline;
    font-weight: bold;

}

@media screen and (max-width: 860px) {

    .AboutAndContact-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-note {
        width: 350px;

    }


}

@media screen and (max-width: 400px) {

    .AboutAndContact-container {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 0 auto;
    }

    .about-me-note {
        width: 350px;

    }




}