:root {

  --bright-purple: #b852fc;
  --purple: #b191ff;
  --light-purple: #e8dfff;
  --sand: #ffc65e;

  --whitesmoke: #f5f5f5;
  --white: #fff;
  --black: #222;
  --medium-gray: #bbb;
  --light-gray: #eee;

}

/* from index.css */


.DefaultSetup {
  margin: 10px;
  display: flex;
  place-items: center;
  width: 350px;
  min-width: 300px;
  height: 650px;
  border: 2px solid #535bf2;
}

.DefaultSetup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin: 0 auto;
  background: var(--whitesmoke);
}

.DefaultSetup a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.DefaultSetup a:hover {
  color: #535bf2;
}


.DefaultSetup h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.DefaultSetup button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  width: 120px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.DefaultSetup button:hover {
  border-color: #646cff;
}

.DefaultSetup button:focus,
.DefaultSetup button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  .DefaultSetup a:hover {
    color: #747bff;
  }

  .DefaultSetup button {
    background-color: #f9f9f9;
  }
}

.DefaultSetup-vite-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.DefaultSetup-vite-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.DefaultSetup-react-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.DefaultSetup-react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .DefaultSetup-react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

.DefaultSetup-card {
  padding: 2em;
}

.DefaultSetup-read-the-docs {
  color: #888;
}

.DefaultSetup-website-note {
  font-size: 20px;
}

.DefaultSetup-ul li {
  list-style-type: disc;
}

.DefaultSetup li::marker {
  color: #646cffaa;
  color: var(--black);
}

.DefaultSetup-website-note span {
  font-weight: bold;
  font-family: Oxygen;
  font-size: 18px;
}

@media screen and (max-width: 750px) {

.DefaultSetup {
  width: 350px;
  min-width: 350px;
}


}

