
.OneDay {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--white);
    color: var(--black);
}


.OneDay-switch-date {
    display: flex;
    align-items: center;
    justify-content: center;

}



.OneDay-switch-date button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin: 0px 10px;
    color: var(--bright-purple);
}

.OneDay-switch-date button:hover {
    transform: scale(0.97);
    cursor: pointer;

}

.OneDay-sidebar-and-schedule {
    display: flex;
}


.OneDay-slot-columns {
    max-width: 1200px;
 
}


.OneDay-day-row {
    display: flex;
}


.OneDay-hour-label {
    width: 100px;
    height: 50px;
    border: 0.5px solid var(--purple);
}


.OneDay-hour-slot {
    width: 750px;
    border: 0.5px solid var(--purple);
}


/* MOBILE SCREENS */
@media screen and (max-width: 450px) {

    .OneDay {
        display: none;
    }

}