

.OneMonth {

    border: 2px solid deeppink;
    border: none;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--white);
    font-family: 'Jost';
}


/* OneMonth  */
.OneMonth-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* all tasks popup styles */
.OneMonth-all-tasks-popup {
    border: 2px solid var(--sand);
    width: 200px;
    height: 300px;
    background: var(--white);
    position: absolute;
}



/* a single task popup styles */




/* one month styles */

.OneMonth-top-row button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin:  0px 10px;
    color: var(--bright-purple);
}

.OneMonth-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;
    
}


.OneMonth-sidebar-and-one-month {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    border: 2px solid var(--sand);
    border: none;
    justify-self: center;
    margin-top: 10px;
}

/* monthly calendar itself - styles */

.OneMonth-week-names {
    display: flex;
}
.OneMonth-week-title {
    width: 120px;
    text-align: center;
}

.OneMonth-draw-month {
    border: 1px solid var(--bright-purple);
    border: none;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

}

.OneMonth-day-title {
    border: 1px solid black;
    width: 120px;
    height: 80px;
}

.OneMonth-title-slot {
    width: 40px;
    height: 20px;
    border: none;
}

.OneMonth-one-day-slot {
    width: 120px;
    height: 80px;
    border: 1px solid var(--medium-gray);
}



/* inserted task styles */

.OneMonth-inserted-task-row {
    font-size: 12px;
    display: flex;
}

.OneMonth-number-of-tasks {
    width: 70px;
    font-weight: bold;
    color: var(--black);
    font-size: 12px;
    border: 0.5px solid var(--medium-gray);
    margin: 1px 2px;
}

.OneMonth-number-of-tasks:hover {
    cursor: pointer;
    border: 0.5px solid var(--white);
    background: white;
}



/* on very big screens */

