.OneWeekMobile {
    margin-left: 10px;
    width: 1000px;
}

.OneWeekMobile-top-section {

}

.OneWeekMobile-navbar {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 10px;
    top: 0;
    z-index: 12;
    width: 370px;
    margin-left: 10px;
    background: var(--white);
}

.OneWeekMobile-row {
    width: 1100px;
    display: flex;
    align-items: center;
    border: 1px solid coral;
    position: sticky;
    left: 10px;
    top: 0;
    z-index: 12;
    background: var(--white);
}



.OneWeekMobile-day-titles {
    display: flex;
}

.OneWeekMobile-day-title {
    border: 1px solid var(--purple);
    width: 135px;
    height: 70px;
    text-align: center;
    color: var(--purple);
    font-weight: bold;
    height: 92px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.OneWeekMobile-add-btn {
    border: 2px solid var(--white);
    background: var(--bright-purple);
    height: 50px;
    width: 90px;
    border-radius: 10px;
    color: var(--white);
    font-size: 16px;
    margin: 10px;

}


.OneWeekMobile-add-btn:hover {
    transform: scale(0.97);
    cursor: pointer;
}




.OneWeekMobile-schedule-container {
    display: flex;
    background: var(--white);
    margin-left: 10px;
}

.OneWeekMobile-empty-corner {
    height: 70px;
    border: 0.5px solid var(--purple);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.OneWeekMobile-first-column {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    height: 1100px;
    background: var(--white);
}





.OneWeekMobile-hour-title {
    width: 90px;
    border: 0.5px solid var(--purple);
    border: 0.5px solid transparent;
    height: 40px;
    font-weight: bold;
    color: var(--black);
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: right;
}


.OneWeekMobile-other-columns {
    display: flex;
    flex-direction: row;
    background: var(--white);
}




.OneWeekMobile-hour-slot {
    border: 0.5px solid var(--purple);
    height: 40px;
    width: 130px;
    background: var(--white);
}



/* MOBILE SCREENS */
@media screen and (min-width: 451px) {

.OneWeekMobile {
    display: none;
}
}


