.OneYearMobile {
    color: var(--white);
    font-size: 18px;
    text-align: center;
}

.OneYearMobile-Calendar-Navbar {
    border: 2px solid greenyellow;
    border: none;
}

.OneYearMobile-arrows {
  display: flex;
  align-items: center;
  justify-self: center;
}

.OneYearMobile-title {
  margin: 0px 10px;
}

.OneYearMobile-arrows i {
  background: var(--white);
  border: 1px solid var(--medium-gray);
  width: 100px;
  height: 30px;
  margin:  0px 10px;
  color: var(--bright-purple);
}
.OneYearMobile-arrows i:hover {
  transform: scale(0.97);

}


.OneYearMobile-year {
  border: 2px solid greenyellow;
}

.OneYearMobile-month-box {
  display: flex;
  flex-direction: row;
}

.OneYearMobile-weekday {
  display: flex;
  flex-direction: row;
}

.OneYearMobile-day {
  display: flex;
  flex-direction: row;
}

/* new styles */


.OneYearMobile-sidebar-and-months {
  margin: 3px;
  border: 2px solid greenyellow;
}

.OneYearMobile-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.OneYearMobile-month-box {
  margin: 3px;
  border: 2px solid gold;
  width: 60px;
  height: 90px;
}

.OneYearMobile-month-box:hover {
  background: gold;
  cursor: pointer;
}



@media screen and (min-width: 451px) {

  .OneYearMobile {
    display: none;
  }

}