.OneYear {
    border: none;
    font-size: 18px;
    background: var(--whitesmoke);
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Jost';
}



.OneYear-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
    font-weight: bold;
}


.OneYear-top-row button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin: 0px 10px;
    color: var(--bright-purple);
}

.OneYear-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;

}

.OneYear-month-year-label {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    font-size: 28px;
}


.OneYear-sidebar-and-months {
    border: none;
    padding: 5px;
    display: flex;
    align-items: top;
    justify-content: left;
}



/* today's date styles */

.OneYear-today {
    width: 200px;
    height: 200px;
    border: 2px solid var(--bright-purple);
    margin: 10px;
    position: fixed;
}

.OneYear-sidebar {
    width: 250px;
    height: 600px;
    margin: 0;
    padding: 0;
}


/*  yearly calendar itself styles */
.OneYear-months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    justify-content: center;
    width: 100%;
    border: none;
}


.OneYear-month-box {
    margin: 5px;
    width: 210px;
    width: auto;
    height: 250px;
    height: 280px;
    border: 1px solid var(--purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;

}


.OneYear-month-title {
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

.OneYear-week {
    display: flex;
    flex-wrap: wrap;
}


.OneYear-week-day-name,
.OneYear-one-day,
.OneYear-empty-day {
    border: 1px solid var(--purple);
    border: 1px solid var(--whitesmoke);

    margin: 1.5px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OneYear-one-day:hover {
    cursor: pointer;
    border: 1px solid var(--bright-purple);
}







/* mark weekends bright-purple */

.OneYear-weekend {
    color: var(--bright-purple);
}






@media screen and (max-width: 1200px) {

    .OneYear {
        border: 2px solid deeppink;
        border: none;
        font-size: 18px;
        background: var(--whitesmoke);
        width: 1000px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
        font-family: 'Jost';
    } 


    .OneYear-month-box {
        margin: 5px;
        width: 150px;
        height: 150px;
        height: 280px;
        border: 1px solid var(--purple);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;

    }



    .OneYear-week-day-name,
    .OneYear-one-day,
    .OneYear-empty-day {
        border: 1px solid var(--whitesmoke);
        border: 1px solid gold;
        margin: 1.5px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}


/* TABLET SCREENS */
@media screen and (max-width: 859px) {


    .OneYear {
        border: none;
        font-size: 18px;
        background: var(--whitesmoke);
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-family: 'Jost';
    }
    
    

    /*  yearly calendar itself styles */
    .OneYear-months {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        justify-content: center;
        width: 100%;
        border: none;
    }

    .OneYear-month-box {
        margin: 5px;
        width: 180px;
        height: 150px;
        height: 280px;
        border: 1px solid var(--purple);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;

    }

    

}



/* MOBILE SCREENS */
@media screen and (max-width: 450px) {

    .OneYear {
        display: none;
    }

}