.OneYearMobile {
  color: var(--white);
  font-size: 18px;
  text-align: center;
  width: 96%;
  width: 92%;
  margin: 0 auto;
}

.OneYearMobile-title {
  margin-top: 10px;
  font-weight: bold;
}

.OneYearMobile-go-to-today {
  border: 1px solid var(--bright-purple);
  padding: 5px 15px;
  padding: 7px 10px;
  border-radius: 10px;
  color: var(--black);
  margin-left: 2px;
}


.OneYearMobile-go-to-today:hover {
  cursor: pointer;
  transform: scale(0.97);
}



.OneYearMobile-arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--white);
  height: 60px;
  max-width: 444px;
}

.OneYearMobile-title {
  margin: 0px 10px;
  color: var(--black);
  font-weight: bold;
}


.OneYearMobile-arrows button {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--medium-gray);
  width: 50px;
  height: 40px;
}

.OneYearMobile-arrows i {
  background: var(--white);
  margin: 0px 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--bright-purple);
}

.OneYearMobile-arrows i:hover {
  transform: scale(0.97);
  cursor: pointer;
}




/* styles for mobile yearly calendar itself */


.OneYearMobile-container-for-months {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OneYearMobile-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
  height: auto;
  border: 1px solid var(--sand);
  border: none;
  margin: 0 auto;

}

.OneYearMobile-month-box {
  margin: 3px;
  margin: 1px;
  border: 2px solid var(--white);
  width: 120px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--white);
  color: var(--black);

}

.OneYearMobile-month-box:hover {
  cursor: pointer;
}

.OneYearMobile-month-box div {
  flex-wrap: wrap;

}

.OneYearMobile-month-contents {
  display: flex;
  flex-direction: column;
}

.OneYearMobile-month-title {
  font-size: 14px;
}


.OneYearMobile-week {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.OneYearMobile-week-day-title,
.OneYearMobile-empty-day,
.OneYearMobile-one-day {
  font-size: 11px;
  border: 0.5px solid var(--white);
  width: 13px;
  height: 13px;
  padding: 1.5px;
  line-height: 10px;
  text-align: center;
  background: var(--white);
  color: var(--black);
  font-family: 'Jost';
}

.OneYearMobile-one-day {
  border: 0.5px solid var(--light-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.OneYearMobile-one-day:hover {
  border: 1px solid var(--bright-purple);
}

.OneYearMobile-weekday {
  color: var(--black);
}


.OneYearMobile-weekend {
  color: var(--bright-purple);
}




@media screen and (min-width: 451px) {

  .OneYearMobile {
    display: none;
  }

}






@media screen and (max-width: 450px) {

  .OneYearMobile-month-box {
    width: 116px;
    height: auto;

  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 11px;
    font-weight: bold;
    border: 2px solid var(--white);
    width: 11px;
    height: 11px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
    border: 1px solid var(--bright-purple);
    border: 1px solid transparent;
  }
  


}









@media screen and (max-width: 400px) {


  .OneYearMobile-months {
    gap: 2px;

  }


  .OneYearMobile-month-box {
    width: 110px;
    height: auto;

  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 10px;
    font-weight: bold;
    border: 2px solid var(--white);
    width: 10px;
    height: 10px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
    border: 1px solid var(--bright-purple);
    border: 1px solid transparent;
  }
}




@media screen and (max-width: 372px) {




  .OneYearMobile-months {
    gap: 2px;

  }


  .OneYearMobile-month-box {
    width: 100px;
    height: auto;

  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 10px;
    font-weight: bold;
    border: 2px solid var(--white);
    width: 9px;
    height: 9px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
    border: 1px solid var(--bright-purple);
    border: 1px solid transparent;
  }
}





@media screen and (max-width: 336px) {

  .OneYearMobile {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin: 0px 2px;

  }
  

  
.OneYearMobile-arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.OneYearMobile-title {
  margin: 0px 10px;
  color: var(--black);
  font-weight: bold;
}



  .OneYearMobile-months {
    gap: 3px;
  }


  .OneYearMobile-month-box {
    margin: 1px;
    border: 2px solid white;
    width: 88px;
    height: auto;
    background: var(--white);
    color: var(--black);
  
  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 8px;
    font-weight: bold;
    border: 2px solid var(--white);
    width: 7px;
    height: 7px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
    border: 1px solid var(--bright-purple);
    border: 1px solid transparent;
  }
  
}

