.OneYearMobile {
  color: var(--white);
  font-size: 18px;
  text-align: center;
}

.OneYearMobile-Calendar-Navbar {
  border: none;
}

.OneYearMobile-arrows {
  display: flex;
  align-items: center;
  justify-self: center;
}

.OneYearMobile-title {
  margin: 0px 10px;
  color: var(--black);
  font-weight: bold;
}

.OneYearMobile-arrows i {
  background: var(--white);
  border: 1px solid var(--medium-gray);
  width: 100px;
  height: 30px;
  margin: 0px 10px;
  color: var(--bright-purple);
}

.OneYearMobile-arrows i:hover {
  transform: scale(0.97);

}


/* styles for mobile yearly calendar itself */


.OneYearMobile-sidebar-and-months {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OneYearMobile-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  width: 100%;

}

.OneYearMobile-month-box {
  margin: 3px;
  border: 2px solid var(--white);
  width: 110px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--white);
  color: var(--black);

}

.OneYearMobile-month-box:hover {
  cursor: pointer;
}

.OneYearMobile-month-box div {
  flex-wrap: wrap;

}

.OneYearMobile-month-contents {
  display: flex;
  flex-direction: column;
}

.OneYearMobile-month-title {
  font-size: 14px;

}


.OneYearMobile-week {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.OneYearMobile-week-day-title,
.OneYearMobile-empty-day,
.OneYearMobile-one-day {
  font-size: 11px;
  border: 2px solid var(--white);
  width: 11px;
  height: 11px;
  margin: 0px;
  line-height: 10px;
  text-align: center;
  background: var(--white);
  color: var(--black);
  font-family: 'Jost';
}

.OneYearMobile-weekday {
  color: var(--black);
}


.OneYearMobile-weekend {
  color: var(--bright-purple);
}




@media screen and (min-width: 451px) {

  .OneYearMobile {
    display: none;
  }

}

@media screen and (max-width: 375px) {

  .OneYearMobile-month-box {
    margin: 1px;
    border: 2px solid white;
    width: 100px;
    height: auto;
    background: var(--white);
    color: var(--black);
  
  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 9px;
    border: 2px solid var(--white);
    width: 9px;
    height: 9px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
  }
  
}


@media screen and (max-width: 350px) {

  .OneYearMobile-month-box {
    margin: 1px;
    border: 2px solid white;
    width: 90px;
    height: auto;
    background: var(--white);
    color: var(--black);
  
  }


  .OneYearMobile-week-day-title,
  .OneYearMobile-empty-day,
  .OneYearMobile-one-day {
    font-size: 8px;
    border: 2px solid var(--white);
    width: 8px;
    height: 8px;
    margin: 0px;
    line-height: 10px;
    font-family: 'Jost';
  }
  
}

