.SidebarMobile {
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px;
    margin: 10px;
    background: var(--bright-purple);
    width: 90%;
}

.SidebarMobile-top-row {
    display: flex;
    justify-content: center;
}


.SidebarMobile-add-new-task-btn {
    display: flex;
    background: var(--bright-purple);
    color: var(--white);
    padding: 10px 20px;
    border: 2px solid var(--white);
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;

}

.SidebarMobile-add-new-task-btn:hover {
    cursor: pointer;
    transform: scale(0.97);

}

.SidebarMobile-go-to-today-btn {
    border: 2px solid var(--white);
    background: var(--bright-purple);
    color: var(--white);
    border-radius: 10px;
    margin-left: 20px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SidebarMobile-go-to-today-btn:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.SidebarMobile-current-date {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 3px;
    margin-left: -5px;
    font-size: 15px;
    font-weight: bold;
}


.SidebarMobile-current-date div {
    margin: 3px;
    font-size: 16px;
    
}

 @media screen and (max-width: 372px) {

    .SidebarMobile-current-date div {
        margin: 3px;
        font-size: 14px;
        
    }

}

@media screen and (max-width: 320px) {

    .SidebarMobile {
        width: 250px;
        margin: 0;
    }

    .SidebarMobile-current-date div {
        margin: 3px;
        font-size: 12px;
        
    }

} 