.SidebarMobile {
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px;
    margin: 10px;
    background: var(--bright-purple);
    width: 90%;
}


.SidebarMobile-add-new-task-btn {
    display: flex;
    background: var(--bright-purple);
    color: var(--white);
    padding: 10px 20px;
    border: 2px solid var(--white);
    border-radius: 10px;

}

.SidebarMobile-add-new-task-btn:hover {

    cursor: pointer;
    transform: scale(0.97);

}

.SidebarMobile-today {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 3px;
    margin-left: -5px;

}

.SidebarMobile-today div {
    margin: 3px;
    font-size: 16px;
    
}

@media screen and (max-width: 372px) {

    .SidebarMobile-today div {
        margin: 3px;
        font-size: 14px;
        
    }

}

@media screen and (max-width: 372px) {

    .SidebarMobile {
        width: 250px;
    }

    .SidebarMobile-today div {
        margin: 3px;
        font-size: 12px;
        
    }

}