
.CalendarNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3px;
}


.CalendarNavbar-top-row {
    display: flex;
    align-items: center;
}

.CalendarNavbar-top-row button {
    background: var(--white);
    border: 2px solid var(--bright-purple);
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    color: var(--black);
    height: 30px;
    margin: 5px;
}

.CalendarNavbar-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;
}

.CalendarNavbar-title {
    height: 30px;
    margin: 5px;
    font-weight: bold;
    color: var(--black);

}

/* buttons styles */

.calendar-link {
    padding: 5px;
    color: var(--black);
    background: white;
    border: none;
    margin: 5px;
    border: 1px solid var(--medium-gray);
    border: 1px solid var(--purple);
    text-decoration: none;
}

.calendar-link:hover {
    cursor: pointer;
    background: var(--light-gray);
    background: var(--purple);
    color: white;
}




@media screen and (max-width: 450px) {

    .CalendarNavbar-title {
        font-size: 18px;
    }

    .calendar-link {
        font-size: 16px;
        padding: 2px 8px;
    }

}


@media screen and (max-width: 372px) {

    .calendar-link {
        font-size: 14px;
        padding: 2px 5.5px;
    }

}

@media screen and (max-width: 325px) {

    .calendar-link {
        font-size: 12px;
        font-weight: bold;
        padding: 2px 2px;
        border: 1px solid var(--bright-purple);
    }

}