

.OneList {
    margin: 10px;
    border: 2px solid var(--light-purple);
    border: none;
    background: var(--white);
    color: var(--black);
    width: 260px;
    height: 320px;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: var(--shadow-1);
}

.OneList-title {
    color: var(--bright-purple);
}

.OneList-row {
    height: 25px;
    border: 1px solid var(--purple);
    display: flex;
    margin-top: 2px;
    align-items: center;
}

.OneList-number {
    width: 20px;
    height: 25px;
    display: flex;
    font-size: 16px;
    font-weight: 900;
    color: var(--bright-purple);
    color: var(--black);
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--purple);
}

.OneList-task {
    height: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OneList-checkbox {
    color: var(--purple);
    margin-right: 5px;
    font-size: 20px;

}

.OneList-crossed-out {
    text-decoration: line-through;
    text-decoration-color: var(--purple);
}