@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;
}



.ToDoApp {
    width: 1000px;
    margin: 0 auto;
}


.ToDoApp-title {
    margin: 0;
    padding: 0;
}

.ToDoApp input:focus {
    outline: none;
}

.ToDoApp-create-button {
    background: var(--bright-purple);
    margin: 10px;
    bordeR: none;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 10px;
}

.ToDoApp-create-button:hover {
    transform: scale(0.97);
    cursor: pointer;
    background: var(--purple);
    color: white;
}



.ToDoApp-all-lists {
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}



@media screen and (max-width: 1000px) {
   .ToDoApp {
    width: 90%;

   }
  }