


.ToDoApp {
    width: 1080px;
    margin: 0 auto;
    border: 2px solid deeppink;
    border: none;
    background: var(--whitesmoke);
   

    padding-bottom: 100px;
}




.ToDoApp-title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
}

.ToDoApp input:focus {
    outline: none;
}

.ToDoApp-new-task-field {
    display: flex;
    justify-content: center;
}

.ToDoApp-create-button {
    background: var(--bright-purple);
    margin: 0px 10px 40px 10px;
    border: none;
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 10px;
    box-shadow: var(--shadow-1);
    text-align: center;
}

.ToDoApp-create-button:hover {
    cursor: pointer;
    background: var(--purple);
    color: white;
}

.ToDoApp-create-button:focus {
    outline: none;
}


.ToDoApp-all-lists {
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}

/* go to the previous or the next page styles */

.ToDoApp-go-to-other-page {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
 
}

.ToDoApp-go-back {
    background: var(--bright-purple);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    color: var(--white);
}

.ToDoApp-go-back:hover {
    background: var(--purple);

    cursor: pointer;
}


.ToDoApp-page-number {
    width: 80px;
    text-align: center;
   font-weight: bold;
    border-radius: 5px;
}


.ToDoApp-go-forward {
    background: var(--bright-purple);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    color: var(--white);
}


.ToDoApp-go-forward:hover {
    background: var(--purple);

    cursor: pointer;
}



@media screen and (max-width: 1000px) {
    .ToDoApp {
        width: 90%;

    }
}


@media screen and (max-width: 860px) {
    .ToDoApp {
        width: 90%;

    }
}


@media screen and (max-width: 400px) {
    .ToDoApp-create-button {
        width: 80px;
    }
}