@import url('https://fonts.googleapis.com/css2?family=Benne&family=Jost:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts to pick from 
- Sour Gummy
- Jost
- Oxygen
- Benne
 */

:root {
  --bright-purple: #b852fc;
  --purple: #b191ff;
  --light-purple: #e8dfff;
  --sand: #ffc65e;

  --whitesmoke: #f5f5f5;
  --white: #fff;
  --black: #222;
  --medium-gray: #bbb;
  --light-gray: #eee;
}


body {
  background: var(--whitesmoke);
  margin: 0;
  padding: 0; 
  font-family: 'Sour Gummy';
  font-family: 'Jost';
  font-family: 'Oxygen';
  font-family: 'Benne';
<<<<<<< HEAD
}
=======

  /* display: flex; */
  /* min-width: 320px;
  min-height: 100vh; */
} 


>>>>>>> 6a1f3ae (progress-2.12pm-Feb-24-2025)




/*  */

@media screen and (max-width: 860px) {
  
  
}



@media screen and (max-width: 400px) {

<<<<<<< HEAD
}


@media screen and (max-width: 860px) {
  
  
}
=======

}

>>>>>>> 6a1f3ae (progress-2.12pm-Feb-24-2025)
