

.Navbar {
    margin: 0 auto;
    padding: 0;
}

.Navbar-portfolio-title {
    text-align: center;
    margin: 20px 20px -20px 20px;
    color: var(--black);
    font-weight: bold;
    padding: 0;
    height: 20px;
    background: var(--white);
    border-radius: 5px;
    max-width: 400px;
}

.Navbar-portfolio-title:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.Navbar-for-portfolio {
    padding-top: 22px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.navbar-link {
    text-decoration: none;
    color: var(--black);
    background: var(--white);
    border: 2px solid var(--medium-gray);
    border: 4px solid var(--whitesmoke);
    margin: 10px;
    padding: 6px 30px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: var(--shadow-1);
}

.navbar-link:hover {
    background: var(--white);
    border: 4px solid var(--purple);
    color: var(--bright-purple);
    color: var(--black);

}


@media screen and (max-width: 450px) {
    .Navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-self: center;
        margin: 0;
        padding: 0;
    }

     
    .Navbar-portfolio-title {
        display: flex;
        justify-content: center;
        justify-self: center;
        margin: 0;
        margin: 10px 20px -10px 20px;
        padding: 0;
        font-size: 12px;
    }

    .navbar-link {
        margin: 2px;
        padding: 3px 10px;
        padding: 2px 2px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: bold;
        box-shadow: var(--shadow-1);
    }

}

@media screen and (max-width: 322px) {

    .navbar-link {
        margin: 1px;
        padding: 2px 1px;
        font-size: 10px;
    }

}